<!DOCTYPE html>
<html>

<header>
  <%- include('../partials/head')%>
</header>


<body class="container">
    <header>
      <%- include('../partials/header')%>
      <h1> Welcome <%= currentUser.name.first %> <%= currentUser.name.last %> !</h1>
    </header>

  <main>
    <div class="jumbotron">
    </div>
  </main>


  <footer>
    <%- include('../partials/footer')%>
  </footer>

</body>

</html>
